-- TODO: define your function and/or trigger here.
-- Example:
--   CREATE OR REPLACE FUNCTION public.{{SLUG}}()
--   RETURNS trigger AS $$
--   BEGIN
--     RETURN NEW;
--   END;
--   $$ LANGUAGE plpgsql;
